@font-face {
  font-family: "Cormorant";
  src: url("./fonts/Cormorant-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* bold */
@font-face {
  font-family: "Cormorant";
  src: url("./fonts/Cormorant-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* italic */
@font-face {
  font-family: "Cormorant";
  src: url("./fonts/Cormorant-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Didot";
  src: url("./fonts/Didot-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Didot";
  src: url("./fonts/Didot-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Didot";
  src: url("./fonts/Didot-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Optima";
  src: url("./fonts/Optima-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Optima";
  src: url("./fonts/Optima-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Optima";
  src: url("./fonts/Optima-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: rgba(227, 221, 221, 0.7411764706);
  font-family: "Cormorant";
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

/* Toggle Button */
#toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #333;
  position: relative;
  top: 15px;
  right: -90%;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  z-index: 1;
}

/* Making a dot switch inside the Toggle Button */
#toggle::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #eeeeee;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Changing toggle button background when checked */
#toggle:checked {
  background: #eeeeee;
}

/* Changing dot switch color and moving to the right side when checked */
#toggle:checked::before {
  background: #333;
  left: 32px;
}

#toggle:checked ~ .container {
  background-color: #333;
  color: #EEE;
}

.container {
  max-width: 700px;
  background: #fff;
  margin: 0px auto 0px;
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px;
}

.header {
  margin-bottom: 30px;
}
.header .full-name {
  font-family: "Didot";
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.header .contact-info {
  font-family: "Optima";
  margin-bottom: 20px;
}
.header .left,
.header .right {
  vertical-align: top;
  display: inline-block;
}
.header .left {
  width: 60%;
}
.header .right {
  tex-align: right;
  width: 39%;
}
.header .address,
.header .email,
.header .phone {
  font-size: 16px;
  margin: 50px 0px 0px;
  font-weight: normal;
}
.header .email {
  vertical-align: bottom;
}
.header .address-val,
.header .phone-val,
.header .email-val {
  font-size: 12px;
  line-height: 0.5em;
}
.header .email-val {
  text-decoration: underline;
}
.header .separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #999;
  margin: 30px 20px 0px;
}
.header .position {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  text-decoration: underline;
}

.details {
  line-height: 20px;
}
.details .section {
  margin-bottom: 40px;
  font-family: "Cormorant";
  font-size: 17px;
  font-weight: normal;
}
.details .section:last-of-type {
  margin-bottom: 0px;
}
.details .section__title {
  font-family: "Didot";
  font-size: 20px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.details .text-divider {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.details .text-divider::before,
.details .text-divider::after {
  content: "";
  height: 3px;
  background-color: #333;
  flex-grow: 1;
}
.details .section__list-item {
  margin-bottom: 40px;
}
.details .section__list-item:last-of-type {
  margin-bottom: 0;
}
.details .left,
.details .right,
.details .middle {
  vertical-align: top;
  display: inline-block;
}
.details .left {
  width: 30%;
}
.details .right {
  text-align: left;
  width: 69%;
}
.details .name {
  font-family: "Cormorant";
}
.details .duration {
  font-family: "Cormorant";
  font-size: 16px;
}
.details .desc li {
  position: relative;
  list-style-position: inside;
  font-size: 10px;
  padding-left: 1em;
  text-indent: -0.9em;
}
.details .desc li span {
  font-size: 17px;
}
.details a {
  text-decoration: none;
  color: #000;
  font-style: italic;
}
.details a:hover {
  text-decoration: underline;
  color: #000;
}
.details .skills__item {
  margin-bottom: 10px;
}
.details .skills__item .right input {
  display: none;
}
.details .skills__item .right label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #C3DEF3;
  border-radius: 20px;
  margin-right: 3px;
}
.details .skills__item .right input:checked + label {
  background: #79A9CE;
}

@media (prefers-color-scheme: dark) {
  body {
    min-height: 100%;
    background: #39404f;
    font-family: "Cormorant";
    font-weight: 400;
    color: #e1e1e1;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
  }
  .container {
    max-width: 700px;
    background: #252527;
    margin: 0px auto 0px;
    box-shadow: 1px 1px 2px #403e3e;
    border-radius: 3px;
    padding: 40px;
    margin-top: 50px;
  }
  .details .text-divider::before,
  .details .text-divider::after {
    content: "";
    background-color: #e1e1e1;
    flex-grow: 1;
  }
}/*# sourceMappingURL=style.css.map */